<aside class="h-full w-full">
   <div class="h-[15%] w-[80%] mx-auto border-b-white p-2">
      <p
         class="text-lg text-center flex items-center justify-center font-bold uppercase bg-black/10 h-full"
      >
         Contactame
      </p>
   </div>
   <form class="h-[75%] w-full">
      <input type="text" />
   </form>
</aside>
