<nav
   class="bg-[#0c0c12]/80 h-full w-full rounded-b-lg border-white/30 border-[0.2px] grid grid-cols-2 text-xl"
>
   <div class="flex items-center uppercase font-bold text-white/80 mx-4 gap-2">
      <span class="material-symbols-outlined"> light_mode </span>
      <div class="hover:text-white/90 cursor-pointer transition-all neonText">
         ALEXIS.DEV
      </div>
   </div>
   <ul
      class="flex justify-around items-center uppercase font-bold text-white/80"
   >
      <li class="hover:text-white/90 cursor-pointer transition-all neonText">
         <p class="border-b">Inicio</p>
      </li>
      <li class="hover:text-white/90 cursor-pointer transition-all">
         Proyectos
      </li>
      <li class="hover:text-white/90 cursor-pointer transition-all">
         Sobre mi
      </li>
   </ul>
</nav>
<style>
   .neonText {
      color: #ffffffda;
      text-shadow:
         0 0 5px #fff,
         0 0 11px #fff;
   }
</style>
