---
import { Image } from 'astro:assets';
import GithubSvg from '../svg/GithubSvg.astro';
import GmailSvg from '../svg/GmailSvg.astro';
import LinkedinSvg from '../svg/LinkedinSvg.astro';
import ContactMe from '../components/ContactMe.astro';
import Button from '@components/Button.astro';
import LogoDownArrow from '@components/LogoDownArrow.astro';
---

<section class="h-full w-full my-auto grid grid-cols-2 grid-row p-2 relative">
   <div class="h-full ml-10 mt-10">
      <span class="place-items-start mt-3 prose prose-invert prose-2xl">
         <!-- <p class=""></p> -->
         <span class="h-full">
            <p>Bienvenido a mi portafolio.</p>
            <h1 class="">Soy Alexis Rojas Desarrollador Frontend</h1>
            <p>
               Me encanta escribir código, creando sitios web creativos y
               accesibles. Siempre estoy dispuesto a aprender y explorar nuevas
               tecnologías, escuchar consejos y compartir lo que sé.
            </p>
         </span>
      </span>
      <ul class="flex gap-4 m2">
         <li class="hover:scale-125 transition-all">
            <a class="cursor-pointer"> <GmailSvg /> </a>
         </li>
         <li class="hover:scale-125 transition-all">
            <a class="cursor-pointer"><LinkedinSvg /></a>
         </li>
         <li class="hover:scale-125 transitio -all">
            <a class="cursor-pointer"><GithubSvg /></a>
         </li>
      </ul>
   </div>
   <span class="mt-10">
      <div class="flex items-center w-full justify-center">
         <img src="/code.png" class="h-[500px] w-[500px]" />
      </div>
   </span>
   <span class="absolute bottom-0 w-[100%]"
      ><div
         class="w-[90%] top-4 animate-pulse mx-auto flex items-center justify-center"
      >
         <button class="cursor-pointer">
            <LogoDownArrow height={120} />
         </button>
      </div>
   </span>
</section>
